@import '../Abstracts/mixin';

* {
    margin: 0;
    padding: 0;
}

.admin-pg {
    // display: grid;
    display: flex;
    // flex-direction: column;
    // grid-template-columns: 280px 1fr;
    // grid-template-rows: 1fr;
    max-height: 100vh;
    max-width: 100vw;
    // min-height: 100vh;
    // background-color: red;
    overflow: hidden;


    .main-part {
        // display: grid;
        // grid-column: 2/3;
        // grid-row: 1/2;
        // grid-template-rows: 80px 1fr;
        display: flex;
        flex-direction: column; 
        flex: 5;
        // background-color: red;
        height: 100vh;
        width: 70vw;



        .content-main{
            grid-row: 2/3;
            overflow: scroll;
         }

    }

}