@import '../Abstracts/Mixin';

.event-page {
    // background-color: red;
    padding: 20px 20px;
    min-height: 100vh;


    .event-main {
        // background-color: red;
        max-width: 100vw;
        display: flex;
        justify-content: center;

        padding: 10px;
        align-items: center;
        height: 90vh;

        @include mobile {
            height: 50vh;
        }


        .carousel {
            max-width: 90vw;
            // background-color: red;
            // background-color: green;
            color: black;
            height: fit-content;
            // height: 70vh;


            @include mobile {
                max-width: 85vw;
                // height: 70vh;
            }

            .image {
                // background-color: red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile{
                    gap: 1rem;
                }


                .image1 {
                    width: 20vw;
                    height: 20vh;

                    @include mobile{
                        width: fit-content;
                        height: fit-content;
                    }
                }

                .image2 {
                    width: 60vw;
                    height: 70vh;
                    border-radius: 20px;

                    @include mobile{
                        width: 80vw;
                        height: 30vh;
                    }

                }
            }

            .caursel-content-1 {
                // background-color: yellow;
                height: 70vh;
                background-position: center;
                background-size: cover;
                background-image: url("https://firebasestorage.googleapis.com/v0/b/social-media-2-0.appspot.com/o/images%2Ffour-min.JPG?alt=media&token=ad0aace8-0686-4ef8-8852-6e3fb4867c72");
                background-repeat: no-repeat;

                // width: 100%;
                // background-position: center;
                @include mobile {
                    height: 40vh;
                }
            }

            .caursel-content-2 {
                // background-color: yellow;
                height: 70vh;
                background-position: top;
                background-size: cover;
                background-image: url("https://firebasestorage.googleapis.com/v0/b/social-media-2-0.appspot.com/o/images%2Fone-min.JPG?alt=media&token=c5e88727-c810-42d9-886f-9953073ec654");
                background-repeat: no-repeat;

                // width: 100%;
                // background-position: center;
                @include mobile {
                    height: 40vh;
                }
            }

            .caursel-content-3 {
                // background-color: yellow;
                height: 70vh;
                background-position: top;
                background-size: cover;
                background-image: url("https://firebasestorage.googleapis.com/v0/b/social-media-2-0.appspot.com/o/images%2Ftwo.JPG?alt=media&token=059ccf95-ede1-4787-a833-caaec8e56a91");
                background-repeat: no-repeat;

                // width: 100%;
                // background-position: center;
                @include mobile {
                    height: 40vh;
                }
            }

            .slick-next:before,
            .slick-prev:before {
                color: black;
            }


        }
    }
    

    .title {
        // padding-left: 50px;
        margin-top: 20px;
        font-size: 1.5rem;
        color: rgb(64, 62, 62);
    }

    .event-content {
        // padding-left: 50px;
        font-size: 1rem;
        color: rgb(80, 79, 79);
    }

    .event-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        


        // .title{
        // }
        .event-body {
            // background-color: green;
            width: 60vw;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.5rem;

            @include mobile {
                width: 90vw;
            }

            .card{
                width: 90%;
                gap: 0.8rem;
                @include mobile{
                    width: 80vw;
                }
                .container{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }


        }
    }

}