@import '../Abstracts/Mixin';

.library-main {
    max-width: 100%;
    display: flex;
    justify-content: center;
    // background-color: red;
    min-height: 100vh;


    .main-table {
        // background-color: red;
        width: 80vw;
        margin-top: 10px;
        box-shadow: 3px 6px 73px -4px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        padding: 30px 50px;
        margin-bottom: 20px;
        
        @include mobile{
            // background-color: red;
            width: 90vw;
            padding: 20px 20px;
        }


        .book-list {
            .card-main {
                display: flex;
                margin-top: 10px;
                border-bottom: 2px solid rgba(196, 193, 193,0.6);


                .book-details{
                    padding-left: 20px;

                }
            }

            .card-main:last-child {
                border-bottom: none;
            }
        }



    }
}