@import'../Abstracts/Mixin';

.society-main {
    padding: 40px 30px;
    overflow-y: scroll;
    position: relative;
    height: 90vh;
    max-height: 100;
    // background-color: red;

    @include laptop{
        overflow-x: scroll;
    }

    .add-society {
        display: flex;
        height: 5vh;
        // background-color: red;
        justify-content: space-between;
        align-items: center;

        .title {
            color: var(--col);
            font-size: 20px;
            text-transform: uppercase;
        }



        .add {
            width: 9vw;
            height: 7vh;
            font-size: 16px;
            padding: 10px 10px;
            border-radius: 10px;
            background-color: var(--coldash);
            color: white;
            font-weight: 600;
            border: none;
            cursor: pointer;

            @include mobile {
                right: 20px;
                width: 35vw;

            }

            @include tablet {
                width: 18vw;
                height: 8vh;
                // bottom: 10px;

            }

            @include laptop {
                width: 13vw;
                height: 10vh;
            }

            .btn-add {
                text-decoration: none;
                color: white;
            }
        }

    }

    .event-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border: 2px solid #c4c4c4;
        padding: 10px 10px;
        gap: 10px;

        span {
            color: #3e3d3d;
            font-size: 18px;
            font-weight: 600;

        }

        .title {
            display: flex;
            gap: 10px;
            font-size: 15px;
            align-items: center;

            .delete-btn{
                margin-left: 100px;
                font-size: 20px;
                color: red;
                cursor: pointer;
                display: flex;
                justify-content: flex-end;
                border: none;
                background-color: white;
                
                @include mobile{
                    margin-left: 10px;
                    font-size: 16px;
                }
            }


        }

        .desc {
            display: flex;
            gap: 10px;
            font-size: 15px;

        }

        .pics {
            display: flex;

            .pics {
                padding: 10px 10px;
                width: 10vw;
                border-radius: 20px;
            }
        }

    }

}